<div class="color__column color__column--white" id="color__column--white">
  <header class="color__column__header">
    <img class="color__icon" src="/images/dummy/card--blue-1.png" height="20">
    <h3 class="color__head">White</h3>
    <h4 class="color__subhead">32 cards</h4>
  </header>
  <div class="color__graph color__graph--cmc">
    <h4 class="color__graph__name color__graph__name--cmc">Mana cost</h4>
    <h5 class="color__graph__subhead color__graph__subhead--cmc">Applicable for 12/32 cards</h5>
  </div>
  <div class="color__graph color__graph--power">
    <h4 class="color__graph__name color__graph__name--power">Power</h4>
    <h5 class="color__graph__subhead color__graph__subhead--power">Applicable for 12/32 cards</h5>
  </div>
  <div class="color__graph color__graph--toughness">
    <h4 class="color__graph__name color__graph__name--toughness">Toughness</h4>
    <h5 class="color__graph__subhead color__graph__subhead--toughness">Applicable for 12/32 cards</h5>
  </div>
  <div class="color__graph color__graph--rarity">
    <h4 class="color__graph__name color__graph__name--rarity">Rarity</h4>
    <h5 class="color__graph__subhead color__graph__subhead--rarity">Applicable for 12/32 cards</h5>
  </div>
  <div class="color__graph color__graph--type">
    <h4 class="color__graph__name color__graph__name--type">Type</h4>
    <h5 class="color__graph__subhead color__graph__subhead--type">Applicable for 12/32 cards</h5>
  </div>
  <div class="color__graph color__graph--subtype">
    <h4 class="color__graph__name color__graph__name--subtype">Subtype</h4>
    <h5 class="color__graph__subhead color__graph__subhead--subtype">Applicable for 12/32 cards</h5>
  </div>
</div>
