<main class="main">
  <header class="site__header">
    <h1 class="site__head">Magic: The Graphening</h1>
    {{!-- <h3 class="site__subhead">What color will you play?</h3> --}}
    <div class="site__header__stickymod">
      <aside class="cards">
        <ul class="cards__grid">
        {{!-- Card grid renders here when data is ready --}}
        </ul>
        <button class="cards__btn cards__btn--add">+ Load more</button>
      </aside>
      {{> filter}}
    </div>
  </header>

  <article class="stream">
    <section class="colors" id="colors"> 
      <!-- Color grid renders here when data is ready -->
    </section>
  </article>

</main>

{{> footer}}
