<button class="cards__btn--reveal cards__btn--reveal--is-closed">▲</button>
<ul class="cards__grid">
  <li class="cards__item">
    <h2 class="cards__head"><span class="cards__selected">128</span> cards selected</h2>
  </li>
  <li class="cards__item">
    <a href="" class="card__link">
      <img class="cards__img" src="/images/dummy/card--blue-1.png" width="223" height="311">
    </a>
  </li>
  <li class="cards__item">
    <a href="" class="card__link">
      <img class="cards__img" src="/images/dummy/card--blue-1.png" width="223" height="311">
    </a>
  </li>
  <li class="cards__item">
    <a href="" class="card__link">
      <img class="cards__img" src="/images/dummy/card--blue-1.png" width="223" height="311">
    </a>
  </li>
  <li class="cards__item">
    <a href="" class="card__link">
      <img class="cards__img" src="/images/dummy/card--blue-1.png" width="223" height="311">
    </a>
  </li>
  <li class="cards__item">
    <a href="" class="card__link">
      <img class="cards__img" src="/images/dummy/card--blue-1.png" width="223" height="311">
    </a>
  </li>
  <li class="cards__item">
    <a href="" class="card__link">
      <img class="cards__img" src="/images/dummy/card--blue-1.png" width="223" height="311">
    </a>
  </li>
</ul>