<h2 class="stream__head">128 cards selected</h2>
<div class="grid__cards">
  <a href="" class="card__link">
    <img class="" src="/images/dummy/card--blue-0.png" width="223" height="311">
  </a>
  <a href="" class="card__link">
    <img class="" src="/images/dummy/card--blue-1.png" width="223" height="311">
  </a>
  <a href="" class="card__link">
    <img class="" src="/images/dummy/card--blue-2.png" width="223" height="311">
  </a>
  <a href="" class="card__link">
    <img class="" src="/images/dummy/card--blue-3.png" width="223" height="311">
  </a>
  <a href="" class="card__link">
    <img class="" src="/images/dummy/card--blue-4.png" width="223" height="311">
  </a>
  <a href="" class="card__link">
    <img class="" src="/images/dummy/card--blue-5.png" width="223" height="311">
  </a>
  <a href="" class="card__link">
    <img class="" src="/images/dummy/card--blue-0.png" width="223" height="311">
  </a>
</div>