<form class="filter">
  <fieldset class="filter__fieldset">
    <select class="filter__select--multi" id="filter__select--multi--set" multiple="multiple" placeholder="Filter by sets...">
      <option value="Dragons of Tarkir" selected>Dragons of Tarkir</option>
    </select>
  </fieldset>
  <fieldset class="filter__fieldset">
    <select class="filter__select--multi" id="filter__select--multi--rarity" multiple="multiple" placeholder="Filter by rarity...">
      <option value="Common">Common</option>
      <option value="Uncommon">Uncommon</option>
      <option value="Rare">Rare</option>
      <option value="Mythic Rare">Mythic Rare</option>
      <option value="Special">Special</option>
      <option value="Basic Land">Basic Land</option>
    </select>
  </fieldset>
  <fieldset class="filter__fieldset">
    <select class="filter__select--multi" id="filter__select--multi--types" multiple="multiple" placeholder="Filter by type...">
    </select>
  </fieldset>
  <fieldset class="filter__fieldset">
    <select class="filter__select--multi" id="filter__select--multi--subtypes" multiple="multiple" placeholder="Filter by subtype...">
    </select>
  </fieldset>
  <fieldset class="filter__fieldset">
    <select class="filter__select--multi" id="filter__select--multi--artist" multiple="multiple" placeholder="Filter by artist...">
    </select>
  </fieldset>
<!--           <fieldset class="filter__fieldset">
    <label class="filter__label"><input class="input__radio" type="radio" name="reprints" value="exclude" checked>Exclude reprints</label>
    <label class="filter__label"><input class="input__radio" type="radio" name="reprints" value="include">Include reprints</label>
  </fieldset> -->
</form>