<footer class="footer">
  <p class="footer__text">The information presented on this site, both literal and graphical, is copyrighted by <a href="http://company.wizards.com/" class="footer__link">Wizards of the Coast</a>. This website is not affiliated with Wizards of the Coast in any way.</p>
  <p class="footer__text">Many thanks to <a href="http://mtgjson.com/" class="footer__link">MTG JSON</a> for the card data and <a href="http://magiccards.info/" class="footer__link">magiccards.info</a> for the images.</p>
</footer>

<div class="border--bottom--colors"></div>