<footer class="footer">
  <p class="footer__text">Card names and text are all copyright <a href="http://company.wizards.com/" class="footer__link">Wizards of the Coast</a>. This website is not affiliated with Wizards of the Coast in any way. Great thanks to <a href="http://mtgjson.com/" class="footer__link">MTG JSON</a> for the card data.</p>
</footer>