<footer class="footer">
	<div class="submission__wrap">
		<p class="footer__text footer__text--description">This application allows former and current players of Magic: The Gathering to visualize, filter and examine the 27,000 cards from the game's 20-year history. Filter by set, type or artist, or brush one of the graphs to further refine your filter. Once you have the cards you want to know about, expand the card grid to see their images.</p>
		<iframe class="video__wrap" width="420" height="315" src="https://www.youtube.com/embed/0QMeF-pnWT8" frameborder="0" allowfullscreen></iframe>
		<a class="footer__link footer__link--process" href="./data/ProcessJournal.pdf">Process Journal</a>
	</div>
	<p class="footer__text">The information presented on this site, both literal and graphical, is copyrighted by <a href="http://company.wizards.com/" class="footer__link">Wizards of the Coast</a>. This website is not affiliated with Wizards of the Coast in any way.</p>
	<p class="footer__text">Many thanks to <a href="http://mtgjson.com/" class="footer__link">MTG JSON</a> for the card data and <a href="http://magiccards.info/" class="footer__link">magiccards.info</a> for the images.</p>
</footer>