/**
*
* Utils
*
**/

/*==========  VARIABLES  ==========*/

  // Defining breakpoints
  $medium: 62rem !default;
  $wide: 80rem !default;
  $huge: 160rem !default;

  // Defining font family
  $fontDefault: Helvetica, Arial, sans-serif !default;
  $fontIcon: 'icons' !default;

  // Defining font sizes
  $fontSmall: 1.3rem !default;
  $fontBase: 1.6rem  !default;
  $fontMedium: 2rem !default;
  $fontLarge: 2.6rem !default;
  $fontXLarge: 4.2rem !default;
  $fontXXLarge: 6.8rem !default;
  $fontHuge: 11rem !default;

  // Defining baseline height
  $baseSpace: 2.6em !default;

  // Defining animation easings
  $animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;



/*==========  MIXINS  ==========*/

@mixin media-query($media-query) {
  @if $media-query == small {
    @media only screen and (max-width: $medium - 1) { @content; }
  }

  @if $media-query == medium {
    @media only screen and (min-width: $medium) { @content; }
  }

  @if $media-query == medium-only {
    @media only screen and (min-width: $medium) and (max-width: $wide - 1) { @content; }
  }

  @if $media-query == wide {
    @media only screen and (min-width: $wide) { @content; }
  }

  @if $media-query == huge {
    @media only screen and (min-width: $huge) { @content; }
  }
}

// Just some helpers...
@mixin small-only { @include media-query(small) { @content }; }
@mixin medium { @include media-query(medium) { @content }; }
@mixin medium-only { @include media-query(medium-only) { @content }; }
@mixin wide { @include media-query(wide) { @content }; }
@mixin huge { @include media-query(huge) { @content }; }
