/**
*
* Cards
*
**/

.cards {
	height: $baseSpace * 5;
	background: $colorBlueGrey900;
	padding: $baseSpace $baseSpace 0 0;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid $colorBlueGrey800;
}

.cards__grid {
	display: flex;
	margin: -$baseSpace 0 0 -$baseSpace;
}

.cards__head {
	color: $colorBlueGrey100;
	font-size: $fontBase;
	margin-bottom: $baseSpace / 2;
}

.cards__selected {
	font-size: $fontLarge;
	font-weight: 700;
	display: block;
	line-height: 100%;
}

.cards__btn--cardview {
	color: $colorBlueGrey700;
	font-size: $fontBase;
	text-align: left;
	cursor: pointer;
	transition: color 0.1s $animationEasing;
	&:hover {
		color: $colorBlueGrey300;
	}
}

.cards__item {
	list-style: none;
	margin: 0;
	flex: 1;
	padding: $baseSpace 0 0 $baseSpace;
	text-align: left;
	max-width: 14.285714286%;
}

.cards__img {
	max-width: 100%;
	height: auto;
	border-radius: 0.4rem;
}

.cards--proxy {
	background: $colorBlueGrey700;
	border: 1px solid $colorBlueGrey500;
	padding: $baseSpace/2;
	border-radius: 0.4rem;
	min-height: 30rem;
}

.cards__item__name--proxy {
	font-size: $fontSmall;
	color: $colorBlueGrey300;
}

.cards__item__label--proxy {
	font-size: $fontSmall;
	color: $colorBlueGrey500;
}
