/**
*
* Cards
*
**/

.cards {
	height: 0;
	background: $colorBlueGrey900;
	padding: $baseSpace/2 $baseSpace*1.5 0 $baseSpace/2;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid $colorBlueGrey800;
	transition: height 0.3s $animationEasing;
	text-align: center;
	border-bottom-width: 5px;
	border-style: solid;
	border-image: linear-gradient(to right, #f8f6da 0%, #f8f6da 16%, #ace0f9 16%, #ace0f9 29%, #999999 29%, #999999 43%, #f8aa92 43%, #f8aa92 57%, #9dd2af 57%, #9dd2af 71%, #e2c870 71%, #e2c870 84%, #ced9e2 84%, #ced9e2 100%);
	border-image-slice: 1;
}

.cards__grid {
	display: flex;
	margin: 0 0 $baseSpace*3;
	flex-wrap: wrap;
}

.cards__head {
	color: $colorBlueGrey100;
	font-size: $fontBase;
	display: inline-block;
	padding: $baseSpace 0 0 $baseSpace*1.5;
}

.cards__selected {
	font-size: $fontLarge;
	font-weight: 700;
	line-height: 100%;
}

.cards__btn {
	color: $colorBlueGrey700;
	font-size: $fontBase;
	cursor: pointer;
	transition: color 0.1s $animationEasing;
	&:hover {
		color: $colorBlueGrey300;
	}
}

.cards__btn--cardview {
	float: right;
	padding: $baseSpace $baseSpace*1.5 0 0;
}

.cards__btn--cardview--close {
	display: none;
}

.cards__item {
	list-style: none;
	margin: 0;
	padding: $baseSpace 0 0 $baseSpace;
	text-align: left;
	flex: 0 0 14.285714286%;
	position: relative;
	min-height: 15rem;
}

.cards__img {
	max-width: 100%;
	height: auto;
}

.cards__img, 
.cards--proxy {
	box-shadow: 2px 2px 10px rgba(20, 20, 25, 0.3);
}

.cards__img--info {
	border-radius: 0.4rem;
}

.cards__img--gatherer {
	border-radius: 0.8rem;
}

.cards--proxy {
	background: $colorBlueGrey700;
	border: 1px solid $colorBlueGrey500;
	padding: $baseSpace/2;
	border-radius: 0.4rem;
	position: absolute;
	bottom: 0;
	left: $baseSpace;
	right: 0;
	top: $baseSpace;
}

.cards__item__name--proxy {
	font-size: $fontSmall;
	color: $colorBlueGrey300;
}

.cards__item__label--proxy {
	font-size: $fontSmall;
	color: $colorBlueGrey500;
}

.cards__btn--add {
	text-align: center;
	margin: -$baseSpace*2 auto $baseSpace*3;
}

.cards__btn--add--finished {
	display: none;
}
