/**
*
* Colors
*
**/

// .axis path,
// .axis line {
//     fill: none;
//     stroke: $colorBlueGrey300;
//     shape-rendering: crispEdges;
// }

// .axis text {
//     font-family: sans-serif;
//     font-size: 11px;
//     fill: $colorBlueGrey300;
// }

.colors {
	display:flex;
  flex-direction: row;
}

.color__column {
	flex-grow: 1;
	flex-basis: 0;
	margin-right: 2em;
	&:last-child {
		margin-right: 0;
	}
}

.color__column__header {
	// text-align: center;
	padding-bottom: $baseSpace / 2;
	margin-bottom: $baseSpace / 2;
	border-bottom: 1px solid $colorBlueGrey50;
}

.color__icon {
	margin-bottom: $baseSpace / 2;
}

.color__head {
	color: $colorBlueGrey100;
	font-size: $fontMedium;
	text-transform: capitalize;
  font-weight: 700;
}

.color__subhead {
	padding-top: 0em;
	color: $colorBlueGrey100;
	font-size: $fontSmall;
}

.color__graph {
	margin-bottom: $baseSpace;
}

.color__graph__head {
	font-size: $fontBase;
	color: $colorBlueGrey300;
}

.color__graph__subhead {
	font-size: $fontSmall;
	color: $colorBlueGrey500;
}

.bar__rect {
	fill: $colorBlueGrey300;
}

.axis__x__label {
	fill: $colorBlueGrey500;
}

.axis__x__path {
	fill: none;
	stroke-width: 1px;
	stroke: $colorBlueGrey500;
}

