/**
*
* Colors
*
**/

.colors {
	margin: 0 -$baseSpace;
}

.color__column__header {
	padding-bottom: $baseSpace / 2;
	border-bottom: 1px solid $colorBlueGrey50;
	margin-right: $baseSpace / 2;
	text-align: left;
}

.color__table {
	width: 100%;
	border-collapse: separate;
	border-spacing: $baseSpace $baseSpace/2;
}


// Header row
.color__graph__header {
	margin-bottom: $baseSpace / 2;
}

.color__head {
	color: $colorBlueGrey100;
	font-size: $fontMedium;
	text-transform: capitalize;
	font-weight: 700;
}

.color__subhead {
	padding-top: 0em;
	color: $colorBlueGrey100;
	font-size: $fontSmall;
}

// Body rows
.color__graph {
	padding-top: $baseSpace / 2;
	vertical-align: top;
	&:not(:first-child) .color__graph__wrap {
		padding-top: $baseSpace;
	}
}

.color__graph__head {
	font-size: $fontBase;
	color: $colorBlueGrey300;
	font-weight: 700;
}

.color__graph__subhead {
	font-size: $fontSmall;
	color: $colorBlueGrey500;
}


// Bar chart
.bar__rect {
	fill: $colorBlueGrey300;
}

.bar__label {
	fill: $colorBlueGrey700;
	text-anchor: middle;
}

.axis__x__label {
	fill: $colorBlueGrey500;
}

.axis__x__path {
	fill: none;
	stroke-width: 1px;
	stroke: $colorBlueGrey500;
}


// Bubble
.bubble__circle {
	fill: $colorBlueGrey300;
}

.bubble__label {
	fill: $colorBlueGrey500;
	text-anchor: middle;
}

.bubble__label--key {
	font-size: $fontSmall;
}

// Inventories
.color__graph__li {
	font-size: $fontSmall;
	color: $colorBlueGrey500;
	list-style-type: none;
}

