/**
*
* Colors
*
**/

// .axis path,
// .axis line {
//     fill: none;
//     stroke: $colorBlueGrey300;
//     shape-rendering: crispEdges;
// }

// .axis text {
//     font-family: sans-serif;
//     font-size: 11px;
//     fill: $colorBlueGrey300;
// }

.colors {
	display:flex;
  flex-direction: row;
}

.color__column {
	flex-grow: 1;
	flex-basis: 0;
}

.color__column__header {
	text-align: center;
	padding-bottom: $baseSpace / 2;
	border-bottom: 1px solid $colorBlueGrey200;
}

.color__icon {
	margin-bottom: $baseSpace / 2;
}

.color__head {
	color: $colorWhite;
	font-size: $fontMedium;
	text-transform: capitalize;
}

.color__subhead {
	padding-top: 0em;
	color: $colorWhite;
	font-size: $fontBase;
}

.axis__x__label {
	fill: $colorWhite;;
}

.axis__x__path {
	fill: none;
	stroke-width: 1px;
	stroke: $colorWhite;;
}

