/**
*
* Filters
*
**/

.filter {
	display: flex;
	width: 100%;
	padding: $baseSpace;
	background: $colorBlueGrey900;
	box-shadow: 0 -5px 15px rgba(20,20,25, 0.3);
}

.filter__fieldset {
	flex-grow: 1;
	margin-right: $baseSpace;
	&:last-of-type {
		margin-right: 0;
	}
}

.filter__head {
	font-size: $fontBase;
	color: white;
}

// Selectize styling
.selectize-control {
	margin-bottom: -7px;
}
