/**
*
* Sidebar
*
**/

.footer {
	padding: $baseSpace;
	background: $colorBlueGrey600;
	text-align: center;
}

.footer__text {
	padding-top: 0;
	color: $colorBlueGrey400;
	font-size: $fontSmall;
}

.footer__link {
	color: $colorBlueGrey300;
	transition: color 0.1s $animationEasing;
	&:hover {
		color: $colorBlueGrey100;
	}
}
