/**
*
* Header
*
**/

.site__header {
	background: $colorBlueGrey900;
	margin-bottom: $baseSpace;
}

.site__head {
	color: white;
	font-size: $fontXXLarge;
	font-weight: 700;
	letter-spacing: -2px;
	padding: $baseSpace/2 $baseSpace 0;
}

.stickymod--is--sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

// .site__subhead {
// 	color: white;
// 	font-size: $fontMedium;
// 	font-weight: 700;
// 	padding: 0 $baseSpace;
// }
