/**
*
* Header
*
**/

.site__header {
	background: $colorBlueGrey900;
	padding: $baseSpace;
	margin-bottom: $baseSpace;
}

.site__head {
	color: white;
	font-size: $fontXXLarge;
	margin-bottom: $baseSpace;
	font-weight: 700;
	letter-spacing: -2px;
}
