/**
*
* Sidebar
*
**/

.sidebar {
	padding: 20px 30px;
	background: $colorBlueGrey900;
	display: none;
}

.sidebar__header {
	margin-bottom: 4.0000em;
}

.sidebar__head,
.sidebar__subhead,
.filter__head {
	color: white;
	font-weight: 700;
}

.sidebar__head {
	font-size: $fontLarge;
	font-weight: 700;
}

.sidebar__subhead {
	font-size: $fontMedium;
}

.filter__label {
	color: $colorBlueGrey50;
}
