/**
*
* Sidebar
*
**/

.sidebar {
	padding: 20px;
	background: $colorBlueGrey900;
}

.sidebar__head,
.sidebar__subhead,
.filter__head {
	color: white;
}

.sidebar__head {
	@include rule--large;
	font-weight: 700;
}

.filter__head,
.sidebar__subhead {
	@include rule--medium;
}

.filter__label {
	color: $colorBlueGrey50;
}
