/**
*
* Stream
*
**/

.stream {
	padding: $baseSpace*1.5 $baseSpace*1.5 $baseSpace;
}

.stream--is--sticky {
	margin-top: 16.6rem;
}

.stream__head {
	font-size: $fontMedium;
	color: white;
	font-weight: 700;
	padding-bottom: 1.0000em;
	margin-bottom: 1.0000em;
}
