/**
*
* Stream
*
**/

.stream {
	padding: 20px;
	background: $colorBlueGrey800;
}

.stream__head {
	@include rule--medium;
	color: white;
	font-weight: 700;
	padding-bottom: 1.0000em;
	margin-bottom: 1.0000em;
	border-bottom: 1px solid $colorBlueGrey200;
}
